[Unit]
Description=Falcon Mini Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /path/to/your/main.py 2>/dev/null
Restart=on-failure
User=rishi
WorkingDirectory=/path/to/your/

[Install]
WantedBy=multi-user.target
